@charset "ISO-8859-1";

.topbar{
	background: #e65c00;
}

.topbar .topbar-inner{
	width: 85%;
	margin: 0 auto;
}

.topbar .topbar-inner .topbar-content ul li a{
	font-size: 14px;
	color: #fff;
}

.topbar .topbar-inner .topbar-content ul li a:hover{
	text-decoration: underline;
}

.header .header-inner{
	width: 85%;
	margin: 0 auto;
}

.header .header-inner .header-content .navbar .navbar-brand h3{
	font-style: italic;
}

.header .header-inner .header-content .navbar .navbar-brand p{
	font-style: italic;
	margin: -28px 19px 0 0;
	font-size: 14px;
	font-weight: 400;
}

.header .header-inner .header-content .navbar ul li a.active{
	color: #ff6600;
}

.header .header-inner .header-content .navbar ul li a:hover{
	color: #ff6600;
}

.header .header-inner .header-content .navbar .sign-link{
	background: #ff6600;
	color: #fff;
	padding: 3px 6px;
}

.header .header-inner .header-content .navbar .sign-link:hover{
	background: #e65c00
}

form .save-btn{
	background: #ff6600;
	color: #fff;
}

form .save-btn:hover{
	background: #e65c00;
	border: none;
	color: #fff;
}

.success-message{
	background: #d6f5d6;
	color: #33cc33;
	font-size: 14px;
}

.error-message{
	background: #ffcccc;
	color: #e60000;
	font-size: 14px;
}