@charset "ISO-8859-1";

.register .register-inner{
	width: 85%;
	margin: 0 auto;
}

.register .register-inner form p{
	color: #8c8c8c;
	font-size: 14px;
}

.register .register-inner form p a{
	text-decoration: none;
	color: #ff6600;
}

.register .register-inner form p a:hover{
	color: #e65c00;
}